<!DOCTYPE html>
<html lang="en">
${head}
<link rel="stylesheet" type="text/css" href="./assets/style.css">
<body>
  ${header}
  <main>
    <div class="events">
      <h1>Current Events</h1>
      <div class="event-table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Event Name</th>
              <th scope="col">Address</th>
              <th scope="col">Time</th>
              <th scope="col">Action(s)</th>
            </tr>
          </thead>
          <tbody>
            ${events.map(event => `
              <tr>
                <td>${event.eventName}</td>
                <td>${event.address} ${event.address2} ${event.city}, ${event.state}${event.zip}</td>
                <td>${event.eventStart}</td>
                <td><button>Attend Event</button></td>
              </tr>
              `).join('')}
          </tbody>
        </table>
      </div>
    </div>
  </main>
  ${footer}
</body>
</html>