<!DOCTYPE html>
<html lang="en">
${head}
<link rel="stylesheet" type="text/css" href="./assets/style.css">
<body>
  ${header}
  <main>
    <div class="events">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://placekitten.com/198/200" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="button">
                  <a href="/pre-order.html" class="btn btn-primary">RSVP</a>
                  <a href="#" class="btn btn-primary">RSVP2</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://placekitten.com/198/200" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="button">
                <a href="#" class="btn btn-primary">RSVP</a>
                <a href="#" class="btn btn-primary">RSVP2</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://placekitten.com/198/200" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="button">
                <a href="#" class="btn btn-primary">RSVP</a>
                <a href="#" class="btn btn-primary">RSVP2</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  ${footer}
</body>
</html>