
<!DOCTYPE html>
<html lang="en">
    ${head}
    <link rel="stylesheet" type="text/css" href="./assets/loginstyle.css">
<body>
    ${header}
    <div class="login">
    <div class="login-div">
        <div class="logo">
            <img src="./assets/logo.png" alt="...">
        </div>
            <div class="title">Home St Cookout</div>
            <div class="subtitle">Welcome</div>
            <div id="loginEvent">
            <a class="sigin-btn btn btn-primary" href="/auth/github" role="button">Login with Github</a>
            </div>
    </div>
    </div>
    ${footer}
</body>
</html>