<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginstyle.css"/>
    <title>Document</title>
</head>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<body>
    <div class="login-div">
        <a href="/auth/github">login with github</a>
        <div class="logo">
            <img src="./assets/logo.webp" alt="" width="150">
        </div>
            <div class="title">Home St Cookout</div>
            <div class="subtitle">Welcome</div>
            <button class="sigin-btn">Login with Github</button>
    </div>
</body>
</html>