<!DOCTYPE html>
<html lang="en">
${head}
<body>
  ${header}
  <main>
    <div>
      <h1>Hello ${userData.username}</h1>
      <h2>You are hosting the following events:</h2>
      <div class="event-table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">eventID</th>
              <th scope="col">Event Name</th>
              <th scope="col">Address</th>
              <th scope="col">Time</th>
              <th scope="col"># Attendees</th>
              <th scope="col">Action(s)</th>
            </tr>
          </thead>
          <tbody id="deleteBtn">
            ${userData.Events.map(event => `
              <tr>
                <th scope="row">${event.id}</th>
                <td>${event.eventName}</td>
                <td>${event.address} ${event.address2} ${event.city}, ${event.state}${event.zip}</td>
                <td>${event.eventStart}</td>
                <td>${event.numAttendee}</td>
                <td><form><input name="deleted" type="hidden" value= /events/${event.id} ><button type="submit">Delete Event</button></form></td>
              </tr>
              `).join('')}
          </tbody>
        </table>
      </div>
    </div>
  </main>
  ${footer}
  <script src="/delete.js"></script>
</body>
</html>